@font-face {
    font-family: "nasin-nanpa";
    src: url("/nasin-nanpa.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    unicode-range: U+F1900-F19FF;
}

:root {
    --font: "nasin-nanpa", "Nunito", "Noto Sans Hebrew", sans-serif;
    --bg: #ffffff;
    --bg-1: #f5f5f5;
    --bg-2: #e8e8e8;
    --bg-3: #dbdbdb;
    --txt: #111;
    --grey: #666;
    --grey-1: #bbb;
    --accent: #4669ac;
    --accent-1: #0c3b95;
}
.dark {
    --bg: #121212;
    --bg-1: #181818;
    --bg-2: #222222;
    --bg-3: #2b2b2b;
    --txt: #dbdbdb;
    --grey: #999;
    --grey-1: #666;
    --accent: #5d7ab0;
    --accent-1: #8fa9db;
}

body {
    background-color: var(--bg);
    margin: 1rem;
    font-family: var(--font);
    color: var(--txt);
    line-height: 1.7em;
    font-size: 18px;
}

* {
    transition:
        color 0.2s,
        background-color 0.2s,
        border 0.2s,
        fill 0.2s,
        box-shadow 0.2s;
}

img {
    max-width: 100%;
    max-height: 400px;
    margin: auto;
    display: block;
    object-fit: scale-down;
    height: auto;
}

blockquote {
    margin: 0px;
    padding-inline: 15px 15px;
    border-inline-start: 5px solid var(--accent);
}

main {
    max-width: 750px;
    margin: auto;
    margin-bottom: 35px;
    text-align: justify;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 16px;
    }
}

a {
    color: var(--accent);
    text-decoration: underline dotted;
    text-underline-position: under;
    font-weight: bold;
}

a:visited {
    color: var(--accent);
}

a:active,
a:hover {
    color: var(--accent-1) !important;
}

button {
    color: inherit; /* Safari fix */
}

audio {
    width: 100%;
}

h1 {
    text-align: center;
    margin: 0.75em 0;
    font-size: 1.75em;
    line-height: 120%;
}

hr {
    color: var(--grey-1);
}

table {
    width: 100%;
    text-align: initial;
    border-collapse: collapse;
}
th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}
td {
    border-collapse: collapse;
    padding: 5px 10px;
}
th,
tr:nth-child(even) {
    background-color: var(--bg-1);
}
